:root {
    --background-color: #0F0F0F;
    --font-color: #FFFFFF;
    --primary-accent-color: #606060;
    --secondary-accent-color: #282828;
    --data-highlight-color: #FF0000;
    --button-hover-color: #3D3D3D;
    --button-active-color: #474747;

    font-size: 62.5%;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}

.site-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
    font-family: "Azeret Mono", "Courier New", serif;
    font-size: 1.6rem;
    font-weight: 400;
}

button,
select {
    border: none;
    padding: 5px 10px;
    background-color: var(--secondary-accent-color);
    color: var(--font-color);
}

button:hover:enabled,
select:hover:enabled {
    cursor: pointer;
}

button:hover:enabled {
    background-color: var(--button-hover-color);
}

button:active:enabled {
    background-color: var(--button-active-color);
}

button:disabled,
select:disabled {
    opacity: 0.5;
    cursor: auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px dashed var(--primary-accent-color);
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid var(--primary-accent-color);
}

td, th {
    padding: 5px 10px;
}

th {
    text-align: center;
    font-weight: 400;
}

.site-title,
.site-description,
.card-heading {
    text-align: center;
}

.site-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 3.2rem;
    font-weight: 400;
}

.card-heading {
    padding: 5px 10px;
    font-size: 1.6rem;
    font-weight: 400;
}

.card {
    margin-bottom: 20px;
    border: 1px solid var(--primary-accent-color);
}

.card-header {
    background-color: var(--primary-accent-color);
}

.card-body {
    padding: 10px;
}

#select-controls,
#button-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

#select-controls {
    margin-bottom: 10px;
}

#select-controls > label {
    flex: none;
}

#select-controls > select {
    flex: auto;
}

#button-controls > button {
    flex: 1 1 0;
}

.registers-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.register-output {
    display: block;
    padding: 5px 10px;
    background-color: var(--secondary-accent-color);
}

#stack-table {
    width: 100%;
}

#stack-level-col {
    width: 25%;
}

.stack-top {
    color: var(--data-highlight-color);
}

.emscripten {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    display: block;
}

.display-container {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--primary-accent-color);
}

/* the canvas *must not* have any border or padding, or mouse coords will be  */
/* wrong */
canvas.emscripten {
    border: 0px none;
    width: 960px;
    background-color: black;
}