/* || Global variables and styles */
:root {
    --max-page-width: 1200px;
    --global-space: 10px;

    --background-color: #0F0F0F;
    --font-color: #FFFFFF;
    --inverted-font-color: #0F0F0F;
    --primary-accent-color: #606060;
    --secondary-accent-color: #282828;
    --highlight-color: #FCF75E;
    --button-hover-color: #3D3D3D;
    --button-active-color: #474747;

    font-size: 62.5%;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: "Azeret Mono", "Courier New", serif;
    font-size: 1.6rem;
    font-weight: 400;
}

/* || Page layout */
.page-header {
    padding-top: calc(2 * var(--global-space));
    grid-area: page-header;
}

.main-content {
    grid-area: main-content;
}

.page-footer {
    grid-area: page-footer;
    padding-bottom: calc(2 * var(--global-space));
}

.page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "page-header"
        "main-content"
        "page-footer";
    margin: 0 auto;
    padding: 0 calc(2 * var(--global-space));
    max-width: var(--max-page-width);
    height: 100%;
}

/* Main grid layout */
#display {
    grid-area: display;
}

#controls-card {
    grid-area: controls;
}

#about-rom-card {
    grid-area: about-rom;
    contain: size;
}

#registers-card {
    grid-area: registers;
}

#stack-card {
    grid-area: stack;
}

.main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "display about-rom"
        "controls stack"
        "registers stack";
    gap: var(--global-space);
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    #about-rom-card {
        contain: revert;
    }

    .main-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "display display"
            "controls controls"
            "about-rom about-rom"
            "registers stack";
    }
}

@media only screen and (max-width: 600px) {
    #about-rom-card {
        contain: revert;
    }

    .main-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "display"
            "controls"
            "about-rom"
            "registers"
            "stack";
    }
}

/* || General typography */
.page-title,
.page-description,
.page-footer-text,
.card-heading {
    text-align: center;
}

.page-title {
    margin-bottom: var(--global-space);
    color: var(--highlight-color);
    font-size: 3.2rem;
    font-weight: 700;
}

/* || Hyperlink */
a {
    text-decoration: underline;
    color: var(--highlight-color);
}

a:hover {
    text-decoration: none;
    background-color: var(--highlight-color);
    color: var(--inverted-font-color);
}

/* || Horizontal rule */
hr {
    margin-top: calc(2 * var(--global-space));
    margin-bottom: calc(2 * var(--global-space));
    border: 1px dashed var(--primary-accent-color);
}

/* || Input elements */
button,
select {
    border: none;
    padding: calc(var(--global-space) / 2) var(--global-space);
    background-color: var(--secondary-accent-color);
    color: var(--font-color);
}

button:hover:enabled,
select:hover:enabled {
    cursor: pointer;
}

button:hover:enabled {
    background-color: var(--button-hover-color);
}

button:active:enabled {
    background-color: var(--button-active-color);
}

button:disabled,
select:disabled {
    opacity: 0.5;
    cursor: auto;
}

/* || Table */
table {
    border-collapse: collapse;
}

table,
td,
th {
    border: 1px dashed var(--primary-accent-color);
}

td,
th {
    padding: calc(var(--global-space) / 2) var(--global-space);
}

th {
    text-align: center;
    font-weight: 400;
}

/* || Display */
.display-border {
    border: 1px solid var(--primary-accent-color);
}

.emscripten {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
}

/* the canvas *must not* have any border or padding, or mouse coords will be  */
/* wrong */
canvas.emscripten {
    border: 0px none;
    background-color: black;
}

/* || Card */
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-accent-color);
}

.card-header {
    background-color: var(--primary-accent-color);
}

.card-heading {
    padding: calc(var(--global-space) / 2) var(--global-space);
    font-size: 1.6rem;
    font-weight: 400;
}

.card-body {
    padding: var(--global-space);
    overflow: auto;
}

/* || Controls card */
#select-controls,
#button-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--global-space);
}

#select-controls {
    margin-bottom: 10px;
}

#select-controls>label {
    flex: none;
}

#select-controls>select {
    flex: auto;
}

#button-controls>button {
    flex: 1 1 105px;
}

/* || Registers card */
.registers-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: var(--global-space);
}

.register-output {
    display: block;
    padding: calc(var(--global-space) / 2) var(--global-space);
    background-color: var(--secondary-accent-color);
}

/* || Stack card */
#stack-table {
    border: none;
    height: 100%;
}

#stack-table {
    width: 100%;
}

#stack-level-col {
    width: 25%;
}

.stack-top {
    color: var(--highlight-color);
}